$border-color: #dbd8d8;

body {
    padding: 10px;
}

section {
    text-align: center;
}

#search-input {
    outline: none;
    border: 1px solid $border-color;
    font-size: 20px;
    height: 35px;
    width: 25%;
    align-self: center;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;

    &:hover {
        box-shadow: 0 0 10px $border-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}


ul {
    list-style: none;
    width: fit-content;
    text-align: left;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    width: 24.5%;
    margin: 0;
    border: 1px solid $border-color;
    border-top: none;

    li {
        margin: 10px;
        border-bottom: 1px solid lightblue;
        padding-bottom: 5px;
    }
}



.title {
    font-size: 50px;
    font-family: sans-serif;
    color: #555;
    text-align: center;
}
